{% extends "pc/common/layout.njk" %}

{% block head %}
<link rel="stylesheet" href="/pc/css/connect.css">
{% endblock %}

{% block body %}
<section class="banner">
    <h2>GET IN TOUCH</h2>
</section>
<section class="connect">
    <div class="title">
        <h2>CONNECT WITH BERMANFALK</h2>
    </div>
    <ul class="content">
        <li><strong>E-mail</strong> 604.882.8993@gmail.com</li>
        <li><strong>TELEPHONE</strong> 604.882.8903</li>
        <li>#105 8047 199th Street</li>
        <li>Langley BC</li>
        <li>Canada V2Y 0E2</li>
    </ul>
</section>
<section class="form">
    <p>Have a question, or would you like to learn more about our capabilities? Just fill out the form below and a BERMANFALK representative will respond to you shortly.</p>
    <div class="">
        <span>First name Required</span>
        <input class="firstName" type="text">
    </div>
    <div>
        <span>Last name Required</span>
        <input class="lastName" type="text">
    </div>
    <div>
        <span>Phone number Required</span>
        <input class="phone" type="text">
    </div>
    <div>
        <span>Email Required</span>
        <input class="email" type="text">
    </div>
    <div>
        <span>Questions / Comments Required</span>
        <input class="question" type="text">
    </div>
    <div class="submit">
        <span>SUBMIT</span>
    </div>
    
</section>
<section class="map">
    
</section>
{% endblock %}