{% extends 'pc/common/layout.njk' %}

{% block head %}
<link rel="stylesheet" href="pc/css/process.css">
{% endblock %}

{% block body %}
<section class="banner">
    <h2>OUR PROCESS</h2>
</section>
<section class="infor">
    <div class="pic"><img src="pc/img/about/icon1.png" alt=""></div>
    <h2>DESIGN DRIVEN MANUFACTURING PROCESS</h2>
    <p>From beginning to end, design is at the forefront of our process. BERMANFALK can always be counted on to deliver and install quality manufactured casegoods and seating -- on time and with the utmost care.</p>
</section>
<section class="process">
    <div class="process_1">
        <div class="text">
            <h2>UNDERSTANDING YOUR INSPIRATION</h2>
            <p>In this first critical stage, we listen to what challenges you are facing in the design space and brainstorm the best solutions. Then with the highest quality 3D renderings, we visually show you how each piece will work within the space.</p>
        </div>
        <div class="pic">
        </div>
    </div>
    <div class="process_2">
        <div class="pic">
        </div>
        <div class="text">
            <h2>PLANNING YOUR SPACE TOGETHER</h2>
            <p>The beauty is in the details. In this stage, we finalize all the specifications for your room and provide detailed quotes, drawings and control samples.</p>
        </div>
    </div>
    <div class="process_3">
        <div class="text">
            <h2>UNDERSTANDING YOUR INSPIRATION</h2>
            <p>In this first critical stage, we listen to what challenges you are facing in the design space and brainstorm the best solutions. Then with the highest quality 3D renderings, we visually show you how each piece will work within the space.</p>
        </div>
        <div class="pic">
        </div>
    </div>
    <div class="process_4">
        <div class="pic">
        </div>
        <div class="text">
            <h2>UNDERSTANDING YOUR INSPIRATION</h2>
            <p>In this first critical stage, we listen to what challenges you are facing in the design space and brainstorm the best solutions. Then with the highest quality 3D renderings, we visually show you how each piece will work within the space.</p>
        </div>
    </div>
    <div class="process_2"></div>
    <div class="process_3"></div>
    <div class="process_4"></div>
</section>

{% endblock %}