{% extends 'pc/common/layout.njk' %}
{% block head %}
<link rel="stylesheet" href="pc/css/product.css">
{% endblock %}
{% block body %}
<section class="banner">
    <h2>CUSTOM CASEGOODS & SEATING</h2>
</section>
<section class="infor">
    <div class="pic"><img src="pc/img/about/icon1.png" alt=""></div>
    <h2>BLENDING FORM AND FUNCTION</h2>
    <p>By blending form and function with the promise of BERMANFALK quality, our hospitality casegood and seating products achieve the exacting criteria of the most discerning hotelier. From country to contemporary, BERMANFALK facilitates the product of furnishing your hotel from inspiration to installation.</p>
</section>
<section class="product">
    <div class="product_1">
        <div class="text">
            <h2>UNDERSTANDING YOUR INSPIRATION</h2>
            <p>In this first critical stage, we listen to what challenges you are facing in the design space and brainstorm the best solutions. Then with the highest quality 3D renderings, we visually show you how each piece will work within the space.</p>
            <div class="detail"><a href="/detail1">Detail</a></div>
        </div>
        <div class="pic">
        </div>
    </div>
    <div class="product_2">
        <div class="pic">
        </div>
        <div class="text">
            <h2>PLANNING YOUR SPACE TOGETHER</h2>
            <p>The beauty is in the details. In this stage, we finalize all the specifications for your room and provide detailed quotes, drawings and control samples.</p>
            <div class="detail"><a href="/detail2">Detail</a></div>
        </div>
    </div>
    <div class="product_3">
        <div class="text">
            <h2>UNDERSTANDING YOUR INSPIRATION</h2>
            <p>In this first critical stage, we listen to what challenges you are facing in the design space and brainstorm the best solutions. Then with the highest quality 3D renderings, we visually show you how each piece will work within the space.</p>
            <div class="detail"><a href="/detail3">Detail</a></div>
        </div>
        <div class="pic">
        </div>
    </div>
    <div class="product_4">
        <div class="pic">
        </div>
        <div class="text">
            <h2>UNDERSTANDING YOUR INSPIRATION</h2>
            <p>In this first critical stage, we listen to what challenges you are facing in the design space and brainstorm the best solutions. Then with the highest quality 3D renderings, we visually show you how each piece will work within the space.</p>
            <div class="detail"><a href="/detail4">Detail</a></div>
        </div>
    </div>
    <div class="product_5">
        <div class="text">
            <h2>UNDERSTANDING YOUR INSPIRATION</h2>
            <p>In this first critical stage, we listen to what challenges you are facing in the design space and brainstorm the best solutions. Then with the highest quality 3D renderings, we visually show you how each piece will work within the space.</p>
            <div class="detail"><a href="/detail5">Detail</a></div>
        </div>
        <div class="pic">
        </div>
    </div>
    <div class="product_6">
        <div class="pic">
        </div>
        <div class="text">
            <h2>UNDERSTANDING YOUR INSPIRATION</h2>
            <p>In this first critical stage, we listen to what challenges you are facing in the design space and brainstorm the best solutions. Then with the highest quality 3D renderings, we visually show you how each piece will work within the space.</p>
            <div class="detail"><a href="/detail6">Detail</a></div>
        </div>
    </div>
</section>

{% endblock %}