.banner {
	position: relative;
	width: 100%;
	margin-top: 8vh;
	height: 70vh;
	background-image: url(../img/about/banner.jpg);
	background-size: cover;
}
.banner h2 {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	background-color: #fff;
	padding: 20px;
	font-size: 2.5vw;
}
.infor {
	text-align: center;
    width: 80%;
    padding: 8vh 10%;
    line-height: 2.5vw;
    color: #666;
    font-weight: lighter;
    background: #eee;
}
.infor h2 {
	margin-bottom: 3vh;
}
.about .about_1 {
	width: 100%;
	height: 60vh;
	background-image: url(../img/about/2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
.infor div {
	margin: 20px auto;
}
.about {
	width: 100%;
	background-color: #d0caca;
}
.about .contact {
	width: 100%;
	height: 70vh;
	font-size: 0;
	background-color: #d0caca;
}
.about .contact .pic {
	display: inline-block;
	width: 40%;
	height: 70vh;
	background-image: url(../img/home/3.jpg);
	-webkit-background-size:cover;
	background-size:cover;
	background-position: right 0;
}
.about .contact .form {
	display: inline-block;
	width: calc(60% - 6vw);
	vertical-align: top;
	padding: 0 3vw;
	font-size: 1.3vw;
}

.about .form h2 {
	font-size:2vw;
	margin-top: 5vh;
	color:#333;
	font-weight:lighter
}
.about .form p {
	margin:20px 0;
	line-height: 5vh;
}
.about .form .signupInput {
	position:relative
}
.about .form span {
	position:absolute;
	top:12.5px;
	left:5px;
	font-size:25px;
}
.about .form input {
	width: 100%;
	height:50px;
	line-height:50px;
	font-size:25px;
	margin-bottom:10px;
	padding-left:5px;
	color:#666;
	background-color:#d0caca;
	border:1px solid #fff;
	outline:0
}
.about .form .submit {
	font-size:25px;
	height:30px;
	float:right;
	border:1px solid #fff;
	padding:12.5px 10px;
	cursor:pointer
}
.about .form .submit:hover {
	color:#000
}