<header class="nav">
    <div class="logo">
        <img src="pc/img/home/top_logo_white.png" alt=""></div>
    <div class="menu">
        <ul>
            <li>
                <a href="/">Home</a></li>
            <li>
                <a href="/about">About</a></li>
            <li>
                <a href="/process">Process</a></li>
            <li>
                <a href="/product">Product</a></li>
            <!-- <li>
                <a href="/gallery">Gallery</a></li> -->
            <li>
                <a href="/connect">Connect</a></li>
        </ul>
    </div>
</header>
