{% extends "./layout.njk" %}

{% block head %}
<link rel="stylesheet" href="/pc/css/about.css">
{% endblock %}

{% block body %}
<section class="banner">
    <h2>OUR PROCESS</h2>
</section>
<section class="infor">
    <div class="pic"><img src="pc/img/about/icon1.png" alt=""></div>
    <h2>DESIGN DRIVEN MANUFACTURING PROCESS</h2>
    <p>From beginning to end, design is at the forefront of our process. BERMANFALK can always be counted on to deliver and install quality manufactured casegoods and seating -- on time and with the utmost care.</p>
</section>
<section class="about">
    <div class="about_1">
    </div>
    <div class="contact">
        <div class="pic"></div>
        <div class="form">
            <h2>GET ON THE LIST EVERYONE TALKS ABOUT.</h2>
            <p>This is much more than a newsletter.This is inspiration.Where we bring you the latest new projects from some of today’s top designers.Signup today.</p>
            <div class="signupInput">
                <input class="firstName" type="text" value="">
                <span>FirstName</span>
            </div>
            <div class="signupInput">
                <input class="email" type="text" value="">
                <span>E-mail</span>
            </div>
            <div class="submit">Sign Me Up</div>
        </div>
    </div>
</section>
{% endblock %}